<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.qt.controller</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PYTHONPATH</key>
            <string>/usr/local/bin</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/python</string>
            <string>/Users/kelley/git/qt/daemon/qt_controller.py</string>
            <string>1</string>
            <string>/dev/tty.usbmodem5D11</string>
            <string>/Users/kelley/databases/qt-debugging.db</string>
        </array>
        <key>StartInterval</key>
        <integer>600</integer>
        <key>StandardOutPath</key>
        <string>/Users/kelley/git/qt/database/qt-stdout.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/kelley/git/qt/database/qt-stderr.log</string>
    </dict>
</plist>
