<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.qt.controller</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PYTHONPATH</key>
            <string>/usr/bin/python</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>python</string>
            <string>-v</string>
            <string>/Users/kelley/qt/daemon/qt_controller.py</string>
            <string>1</string>
            <string>10</string>
            <string>/dev/cu.usbmodem1421</string>
        </array>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
